<?xml version="1.0" encoding="UTF-8" ?>
<!-- /src/mapper/mybatis-config.xml -->
<!-- !DOCTYPE : xml 문서 작성 규칙을 지정한 파일을 지정  -->
<!DOCTYPE configuration PUBLIC "-//mybatis.org/DTD config 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
	<!-- 파일로 접근 하기 때문에 / 으로 표시 -->
   <properties resource="model/mapper/mybatis.properties" />
   <typeAliases>
   		<typeAlias type="model.Member" alias="Member"/>
   		<typeAlias type="model.Board" alias="Board"/>
   		<typeAlias type="model.PlayList" alias="PlayList"/>
   		<typeAlias type="model.Warn" alias="Warn"/>
   		<typeAlias type="model.QAlist" alias="QAlist"/>
   		<typeAlias type="model.Comment" alias="Comment"/>
   		<typeAlias type="model.MyList" alias="MyList"/>

   </typeAliases>
   <!-- db connection 설정 -->
   <environments default="development">
      <environment id="development">
         <transactionManager type="JDBC" />
         <dataSource type="POOLED">
            <property name="driver" value="${jdbc.driver}" />
            <property name="url" value="${jdbc.url}"/>
            <property name="username" value="${jdbc.username}"/>
            <property name="password" value="${jdbc.password}"/>
         </dataSource>
      </environment>
      </environments>
      <!-- 사용할 sql 구문을 저장한 xml을 설정 -->
      <mappers>
      <!-- 클래스로 접근 하기 때문에 . 으로 표시 -->
		<package name="model.mapper"/>		
      </mappers>
</configuration>